.aside {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    padding: 10px;

    .usuario h3 {
        font-size: 20px;
        font-weight: 600;
        margin: 20px auto;
    }

    .logOut button {
        font-weight: 500;
        &:hover {
            border: white 1px;
            background-color: purple;
            color: white;
        }
    }
}